* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--main-color: #387946;
	--text-color: #fff;
	--border-color-first: #552f26;
	--border-color-second: #70461e;
    --highlight-color: #ffff00;
    --dark-color: #000000;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--main-color);
	font-family: 'Permanent Marker', cursive;
	color: var(--text-color);
	border-top: 1.5em solid var(--border-color-first);
	border-bottom: 1.5em solid var(--border-color-first);
	border-right: 1.5em solid var(--border-color-second);
	border-left: 1.5em solid var(--border-color-second);
}

.gameboard {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	/* outline: 3px solid var(--main-color);
    outline-offset: -3px; */
}

.gameboard-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	font-size: 4rem;
	border-bottom: 10px solid var(--text-color);
	border-right: 10px solid var(--text-color);
}

.gameboard-box:nth-child(3n) {
	border-right: none;
}

.gameboard-box:nth-child(n + 7) {
	border-bottom: none;
}

.gameboard-circle {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 3px solid var(--text-color);
}

.gameboard-cross,
.gameboard-cross::after {
	display: inline-block;
	width: 80px;
	height: 3px;
	background-color: var(--text-color);
}

.gameboard-cross {
	transform: rotateZ(-45deg);
}

.gameboard-cross::after {
	content: '';
	transform: translateY(-10px) rotateZ(90deg);
}

.startgame {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 50%;
	left: 50%;
	height: 50vh;
	width: 50vw;
	background-color: var(--main-color);
	transform: translate(-50%, -50%);
}

.startgame-info {
	font-size: 3.2rem;
}

.startgame-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.startgame-btn {
	margin: 0.5em;
	padding: 0.2em;
	background-color: transparent;
	font-size: 3rem;
	font-family: 'Permanent Marker', cursive;
	color: var(--text-color);
	border: none;
	cursor: pointer;
}

.gameover {
	position: absolute;
	display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	bottom: 10%;
	font-size: 3rem;
}

.gameover-btn {
    padding: 0.5em;
	border: none;
    border-radius: 20%;
	background-color: transparent;
	color: var(--text-color);
	font-size: 2rem;
	cursor: pointer;
    transition: 1s;
}

.gameover-btn:hover {
    color: var(--dark-color);
    background-color: var(--highlight-color);
    transform: scale(1.1);
}